:root {
  --left-column-width : 300px;
  --right-column-width : 0px;
  --top-nav-bar-height : 50px;
  --bottom-nav-bar-height : 50px;
}

body {
    margin: 0; 
    width: 100%; 
    height: 100vh; 
    overflow: hidden; 
    display: flex;
}

#firstColumn {
    height: 100vh; 
    width: var(--left-column-width);
}

#fcHeader {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}

#fcBody {
    height: calc(100% - var(--top-nav-bar-height));
    display: flex; 
    overflow: auto;
    flex-direction: column;
}

#secondColumn {
    border-left: 1px solid #f1f1f1;
    width: calc(100% - var(--left-column-width));
}

#header {
    height: var(--top-nav-bar-height);
    border-bottom: 1px solid #f2f2f2;
}

#body {
    height: calc(100vh - var(--top-nav-bar-height));
    display: flex;
}

#thread {
    display: block;
    width: calc(100% - var(--right-column-width));
    min-width: 300px;
}

#threadBody {
    display: flex;
    flex-direction: column;
    height: calc(100vh - (var(--top-nav-bar-height) + var(--bottom-nav-bar-height)));
    overflow: auto;
}

#threadFooter {
    height: var(--bottom-nav-bar-height);
    border-top: 1px solid #f2f2f2;
}

#details {
    width: var(--right-column-width);
    border-left: 1px solid #f2f2f2;
    
}